<div>
  <h1 id="main-title">Products</h1>
  <div id="product-list-container">
    {{#each products}}
      <div id="product-list-container">
        <div id="product-item">
          <p id="title">{{this.title}}</p>
          <p>{{this.description}}</p>
          <p>${{this.price}}</p>
          {{#if this.thumbnail.length}}
            {{!-- {{#each this.thumbnail}} --}}
            <div class="thumbnail-container">
              <img src={{this.thumbnail}} alt="" />
            </div>
            {{!-- {{/each}} --}}
          {{else}}
            <p id="no-image">no image</p>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
  <form
    action="/realtimeproducts"
    id="add-realtimeproducts-form"
    class="add-product-form"
    method="post"
    enctype="multipart/form-data"
  >
    <h2>Add product</h2>
    <input type="text" placeholder="title" name="title" required/>
    <input type="text" placeholder="description" name="description" required />
    <input type="text" placeholder="code" name="code" required />
    <input type="number" placeholder="price" name="price" required />
    <input type="number" placeholder="stock" name="stock" required />
    <input type="text" placeholder="category" name="category" required />
    <input type="file" name="thumbnail" multiple />
    <input type="submit" value="Send" />
  </form>
</div>

<script src="socket.io/socket.io.js"></script>
<script src="/js/client.js"></script>